@import url(./base.css);

.container {
    display: block;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 34px;
}

.container>img {
    width: 100%;
    margin-bottom: 20px;

}

.container>strong {
    margin: 20px 0;
    font-size: 16px;
    color: var(--white-color);
}